// Grid
@base-margin: 20;

// Responsive Breakpoints
@bp-small-width: 480;
@bp-medium-width: 768;
@bp-large-width: 992;


// Typography & Rhythm
@base-text-size: 14;
@base-vertical: 20;

@lora-serif: 'Lora', serif;

// Wrapper
@wrapper-width: 1em * ( @bp-large-width / @base-text-size);