// Rhythm
@full-vertical: 1em * (@base-vertical / @base-text-size);
@half-vertical: 1em * ((@base-vertical / 2) / @base-text-size);

// Media Query Vars
@mq-base-max: ( 1em * ( ( @bp-small-width - 1 ) / 16 ) );
@mq-small-min: ( 1em * ( @bp-small-width / 16 ) );
@mq-small-max: ( 1em * ( ( @bp-medium-width - 1 ) / 16 ) );
@mq-medium-min: ( 1em * ( @bp-medium-width / 16 ) );
@mq-medium-max: ( 1em * ( ( @bp-large-width - 1 ) / 16 ) );
@mq-large-min: ( 1em * ( @bp-large-width / 16 ) );

// Base
@base-screens-max: ~"all and (max-width: @{mq-base-max})";

// Small
@small-screens-max: ~"all and (max-width: @{mq-small-max})";
@small-screens-only: ~"all and (min-width: @{mq-small-min}) and (max-width: @{mq-small-max})";
@small-screens-min: ~"all and (min-width: @{mq-small-min})";

// Medium
@medium-screens-max: ~"all and (max-width: @{mq-medium-max})";
@medium-screens-only: ~"all and (min-width: @{mq-medium-min}) and (max-width: @{mq-medium-max})";
@medium-screens-min: ~"all and (min-width: @{mq-medium-min})";

// Large
@large-screens-min: ~"all and (min-width: @{mq-large-min})";