// Wrapper
.wrapper {

    width: 92%;
    max-width: @wrapper-width;
    margin-left: auto;
    margin-right: auto;
}

// Buttons

.btn--primary {
	// Variables
	@10px: ( 1em * ( 10 / @base-text-size ) );

	// Style
	padding: @10px;
	background: black;
	color: white;
	display: inline-block;
	cursor: pointer;
	margin-top: @full-vertical;
	opacity: 0.75;

	&:hover,
	&:active,
	&:focus,
	&:visited {
		opacity:1;
	}
}

// Hero
.home-hero {
	// Variables
	@120px: ( 1em * ( 120 / @base-text-size ) );

	// Style
	padding: @120px 0;
	text-align:center;
	background: url(/images/hero.jpg) center center/cover no-repeat;
}

.home-hero__heading {
	color: white;
	font-size: ( 1em * ( 48 / @base-text-size ) );
}


// Counter
.home-counter {
	// Variables
	@10px: ( 1em * ( 10 / @base-text-size ) );
	@50px: ( 1em * ( 50 / @base-text-size ) );

	// Style
	margin-top: @50px;

	// Display Counter
	.counter__display {
		font-size: ( 1em * ( 32 / @base-text-size ) );
	}

	// Fangahz and Toes
	.counter--fingers,
	.counter--toes {
		margin-top: @10px;
		padding: @10px;		
		background: whitesmoke;

		&.is-active {
			background: grey;
			color: white;
		}
	}
}