// Declare Variables

@grid-margin: 1em * (@base-margin / @base-text-size);


// Define Grid for each breakpoint
@media @large-screens-min {

	// Row
	.gl-row {
		.clearfix();

		margin-left: -@grid-margin;
		margin-right: -@grid-margin;
	}

	// Style columns
	.gl-row > [class*="gcl"] {
		display:inline;
		float:left;
		padding-left: @grid-margin;
		padding-right: @grid-margin;
	}	

	// Declare Widths
	.gl-row {
		.gcl-half {
			width: percentage(1 / 2);
		}

		.gcl-two-thirds {
			width: percentage(2 / 3);
		}

		.gcl-third {
			width: percentage(1 / 3);
		}
	}
}


@media @medium-screens-only {
	// Row
	.gm-row {
		.clearfix();

		margin-left: -@grid-margin;
		margin-right: -@grid-margin;
	}

	// Style columns
	.gm-row > [class*="gcm"] {
		display:inline;
		float:left;
		padding-left: @grid-margin;
		padding-right: @grid-margin;
	}	

	// Declare Widths
	.gm-row {
		.gcm-half {
			width: percentage(1 / 2);
		}

		.gcm-two-thirds {
			width: percentage(2 / 3);
		}

		.gcm-third {
			width: percentage(1 / 3);
		}
	}


}


@media @small-screens-max {


}
